<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的第一份作业</title>
    <link rel="stylesheet" type="text/css" href="{% static "homework.css" %}">
</head>
<body>
<div class="header"><!-- 标题  -->
    <img src="{% static "images/blah.png" %}">
    <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Site</a></li>
        <li><a href="#">Other</a></li>
    </ul>
</div>
<div class="main-content"><!--主体 -->
    <h2> The Beach </h2>
    <ul class="photos">
        <li>
            <img src="{% static "images/0001.jpg" %}" width="150px" height="150px" alt="jpg1">
            <img src="{% static "images/0003.jpg" %}" width="150px" height="150px" alt="jpg2">
            <img src="{% static "images/0004.jpg" %}" width="150px" height="150px" alt="jpg3">
        </li>
    </ul>
    <p>         我最喜欢小艳啦！！我最喜欢小艳啦！！我最喜欢小艳啦！！我最喜欢小艳啦！！
                我最喜欢小艳啦！！我最喜欢小艳啦！！我最喜欢小艳啦！！我最喜欢小艳啦！！
                我最喜欢小艳啦！！我最喜欢小艳啦！！我最喜欢小艳啦！！我最喜欢小艳啦！！</p>
</div>
<div class="footer">
    <p>&copy;mugglecoding</p>
</div>
</body>
</html>